/03_recipes_app/client/node_modules
/03_recipes_app/server/node_modules

/04_recipes_app/client/node_modules
/04_recipes_app/server/node_modules

/05_recipes_app/client/node_modules
/05_recipes_app/server/node_modules

/06_recipes_app/client/node_modules
/06_recipes_app/server/node_modules

/07_recipes_app/client/node_modules
/07_recipes_app/server/node_modules

/08_recipes_app/client/node_modules
/08_recipes_app/server/node_modules

/10_recipes_app/client/node_modules
/10_recipes_app/server/node_modules